---
import clsx from "clsx";

const photos = [
  { src: "/gato/DSC03107.jpg", alt: "Hardloopster in de natuur met GatoSports kleding" },
  { src: "/gato/DSC02528.jpg", alt: "GatoSports sportshirt detail" },
  { src: "/gato/DSC03008.jpg", alt: "Hardloopster in actie" },
  { src: "/gato/DSC02283.jpg", alt: "Hardloopster in park" },
  { src: "/gato/DSC02270.jpg", alt: "Hardloper met neon jacket" },
];
---

<section class="grid grid-cols-2 sm:grid-cols-4">
  {
    photos.map((photo, k) => (
      <img
        src={photo.src}
        alt={photo.alt}
        class={clsx(
          "aspect-square h-auto w-full object-cover sm:aspect-480/600",
          k === 0 && "col-span-2 sm:row-span-2",
        )}
      />
    ))
  }
</section>
