<div
  class={`text-lg max-w-none prose prose-h3:text-lg prose-h3:font-medium prose-h3:mt-10 prose-h3:mb-4  prose-strong:font-medium prose-h2:text-h5  prose-h2:font-medium prose-h2:mt-10 prose-h2:mb-4 ${Astro.props.class ?? ""}`}
>
  <slot />
</div>
