---
import { Image } from "astro:assets";
interface Props {
  author: string;
  role: string;
  image: ImageMetadata;
}
const props = Astro.props;
---

<article class="splide__slide bg-highlight rounded-2xl p-5 sm:p-8">
  <blockquote class="text-muted-foreground mb-6 text-lg">
    <slot />
  </blockquote>
  <footer class="flex items-center gap-3">
    <Image
      densities={[1, 2]}
      src={props.image}
      alt={props.author}
      width={44}
      height={44}
      class="rounded-lg"
    />
    <div class="space-y-1 text-sm">
      <cite class="font-medium not-italic">{props.author}</cite>
      <div class="text-muted-foreground">{props.role}</div>
    </div>
  </footer>
</article>
